*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    padding: 1rem 2rem;
    background-color: #333;
    color:#efefef;
    border-radius: 1rem;
}

button{
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    outline: none;
    

}

button:hover{
    background: rgb(214,214,214);
}