*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: arial,sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    min-width: 150px;
    min-height: 100px;
    padding: 5rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;

}

.grandparent {
    background: rgb(193, 179, 179);
    color:black;
    


}

.parent{
    background: #0c2d48;
}
